<div>
  <mat-form-field >
    <input [(ngModel)]= "email" name = "email" matInput placeholder="email" value="" required>
    <mat-error *ngIf="emailFormControl.hasError('required')">
        email is <strong>required</strong>
      </mat-error>
    
  </mat-form-field>
 </div>
 <div>
    <p class="error" *ngIf = "code == 'auth/invalid-email'">{{message}}</p>
   <p class="error" *ngIf = "code == 'auth/user-not-found'">{{message}}</p>

  <mat-form-field >
    <input [(ngModel)]= "password" name = "password" matInput placeholder="password" value="" required>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
        password is <strong>required</strong>
      </mat-error>
  </mat-form-field>
 </div>
 
 <div><br>
 <button mat-raised-button color="primary" (click) = "login()">
  Log in
 </button>
 </div>