<p (mouseenter) = "showButton()"
   (mouseleave) = "hideButton()">
   <mat-checkbox  [(ngModel)]="checkboxFlag" (change) = "checkChange()"> {{name}},{{price}}   </mat-checkbox>
 <button   *ngIf = "showTheButton" mat-raised-button  color="primary" (click)= "showButton1()"> Delete</button>
 <button   *ngIf = "showTheButton1" mat-raised-button  color="primary" (click)= "delete()"> click to Delete</button>
 <button   *ngIf = "showTheButton1" mat-raised-button  color="primary" (click)= "hideButton1()"> cancel</button>
</p>
 

