<div  *ngIf="authService.user | async" >
  <h2>Welcome {{(authService.user | async)?.email }}</h2>

  <p>your items are:</p>
 </div>

 <div>
  <p *ngIf="!(authService.user | async)">Please login to see your list of items</p>
 </div>

